.container {
  flex: auto;
  display: flex;
  justify-content:  center;
  align-items: center;
  margin: 0 auto;
}

.fx-layout-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.full-width {
  width: 100%;
}

.margin-20 {
  margin: 20px;
}

.margin-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-b-10 {
  margin-bottom: 20px;
}

.margin-b-20 {
  margin-bottom: 20px;
}
